*
{
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    -webkit-transition: all 600ms;
    transition: all 300ms;
}

a, a:focus, a:hover
{
    color: #2b2b2b;
    text-decoration: none;
}

.btn:focus,.btn:active
{
    outline: none !important;
}

.btn
{
    border-radius: 48px;
}

.btn-primary
{
    background-image: none;
    background-color: #243538;
    color: #fff;
    min-width: 144px;
    padding: 12px 24px;
    border: none;
    font-size: 13px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary:active.focus, .btn-primary.active.focus
{
    background-color: #004652;
}






.header-container-fluid
{
    padding-left: 0;
    padding-right: 0;
}

.website-header-navbar
{
    background-color: #f7f7f7;
    padding-top: 0;
    background-image: none;
}

.header-logo
{
    padding-left: 30px; 
}

.website-header-navbar a
{
    color: #848484;
}

.website-header-navbar a:hover
{
    color: #000;
}

.navbar-collapse
{
    border-color: transparent;
}


.navbar-toggle
{
    border: none;
}

.navbar-toggle:hover, .navbar-toggle:focus
{
    background-color: transparent;
}

.custom-navbar-right
{
    margin-right: 0;
}

#my-portfolio-navbar-collapse .navbar-right li a
{
    font-size: 13px;
    margin-left: 15px;
}

#my-portfolio-navbar-collapse .navbar-right li:last-child a
{
    margin-right: 12px;
}

.nav > li > a:hover, .nav > li > a:focus
{
    background: none;
    color: #22221f;
}

div#my-portfolio-navbar-collapse {
    background-color: #f7f7f7;
    box-shadow: none;
}

span.icon-bar {
    background-color: #ccc;
}




.jumbotron
{
    padding-bottom: 60px;
    background-color: #f7f7f7;
}


.jumbotron .col-md-4 img
{
    margin-top: 24px;
    border-radius: 10px;
}

.hello-intro
{
    color: #444444;
}

.hello-intro h1
{
    margin-top: 96px;
    font-weight: 100;
    font-size: 60px;
    color: #243538;
}

.hello-intro h2
{
    margin-top: 24px;
    font-size: 30px;
    color: #909494;
}

.hello-intro p
{
    margin-top: 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.hello-intro .btn-primary
{
    margin-top: 18px;
    font-size: 13px;
    padding: 15px 30px;
    margin-bottom: 72px;
}










.skills-and-interests h1
{
    font-size: 30px;
    font-weight: 100;
    margin-top: 72px;
    color: #243538;
}

.skills-and-interests p
{
    font-size: 15px;
    margin-top: 24px;
    line-height: 2;
}

.skills-and-interests .skill-icons
{
    max-width: 400px;
    display: table;
    margin: 24px auto 108px auto;
}








.works
{
    background-color: #f7f7f7;
}

.works h1
{
    font-size: 36px;
    font-weight: 100;
    margin-top: 72px;
    color: #243538;
}

.works .works-main-paragraph
{
    margin-top: 24px;
    line-height: 2;
}

.works .works-case-study
{
    margin-top: 60px;
}

.works-case-study img
{
    height: 236px;
    width: 340px;
    display: table;
    margin: auto;
}

.works-case-study h2
{
    font-size: 27px;
    color: #243538;
}

.works-case-study p
{
    margin-top: 18px;
}

.works-case-study .btn-primary
{
    font-size: 13px;
    margin-top: 3px;
}

.behance-link-para
{
    margin: 48px auto;
}

.behance-link-div a
{
    margin: 72px auto;
    max-width: 192px;
}

.behance-profile-link:hover
{
    color: #004652;
}

.contact
{
    
    background-color: #243538;
}

.contact h1
{
    font-size: 30px;
    font-weight: 100;
    margin-top: 25vh;
    color: #f7f7f7;
}

.contact p
{
    margin: 24px 0;
    color: #cacaca;
}

.contact .btn-primary
{
    background-color: #ff8d00;
    color: #ffffff;
}

.contact .btn-primary:hover
{
    background-color: #ff9e00;
}

.or-you-can-follow-me-on
{
    margin-top: 24px;
    text-align: center;
    font-size: 12px;
    color: #808080;
}

.or-you-can-follow-me-on a
{
    color: #dedede;
}

.or-you-can-follow-me-on a:hover
{
    color: #ffffff;
}

.social-icons
{
    margin: 48px 0;
}

.center-block
{
    max-width: 180px;
}

.center-block.social-icon
{
    text-align: center;
    background-color: #243538;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding-top: 18px;
}

.center-block.social-icon:hover
{
    background-color: #004652;
}

.social-icon i {
    font-size: 18px;
    color: #ddd;
}

.bottom-line
{
    position: relative;
    bottom: 0;
    height: 36px;
    width: 100%;
    margin-top: 204px;
    padding: 0;
    background-color: #ffffff;
}

.bottom-white-overlay
{
    height: 36px;
    background-color: #ffffff;
    position: relative;
    margin-top: -21px;
    z-index: 2;
}

.pikaboo-footer-image-hands
{
    position: relative;
    display: table;
    margin-left: 5vw;
    margin-top: -132px;
    z-index: 3;
}

.pikaboo-footer-image-face
{
    position: relative;
    display: table;
    margin-left: 5vw;
    margin-top: -156px;
    z-index: 1;
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pikaboo-footer-image-face:hover
{
    top:-18px;
}



/*CSS of Works' pages starts here*/

.work-story-cover-div
{
    margin-top: 48px;
}

.work-story-cover-div .work-story-title-container
{
    margin-top: -120px;
}

.work-story-cover-div  .work-story-title-container h1
{
    color: #fff;
}

.work-story-cover
{
    width: 100%;
}

.work-story-container
{
    margin-top: 72px;
    max-width: 720px;
    margin-bottom: 36px;
}

.work-story h1 
{
    margin-top: 36px;
    margin-bottom: -12px;
    font-weight: bold;
    color: #243538;
    line-height: 1.2;
}

.work-story-container h2 
{
    margin-top: 24px;
    color: #cacaca;
    line-height: 1.5;
}

.work-story-container h3 
{
    margin-top: 24px;
    margin-bottom: -18px;
    color: #243538;
    font-weight: bold;
    line-height: 1.5;
}


.work-story-container p 
{
    margin: 24px auto 36px auto;
    font-size: 20px;
/*
    font-weight: lighter;
*/  
    line-height: 1.8;
    color: #555;
}

.work-story-container .highlighted-text
{
    max-width: 480px;
    border-left: 1px solid #ff8d00;
    margin: 48px auto;
    padding: 0 24px;
    font-size: 20px;
    font-style: italic;
    color: #8a8a8a;
}

.work-story-container .image
{
    margin: 48px auto;
    display: table;
}

.work-story-container .image img
{
    width: auto;
    max-width: 100%;
}

.work-story-container .image .caption
{
    text-align: center;
    color: #cacaca;
    margin: 12px auto;
    font-size: 14px;
}

.work-story-container img.left-aligned
{
    margin-left: 0;
}


p.end-of-story
{
    text-align: center;
    color: #cacaca;
    font-size: 60px;
    font-weight: lighter;
    margin: 0 auto 48px auto;
}


/*CSS of Works' pages ends here*/